

.h1-login {
    font-size: 22px;
    color: var(--cor-primaria);
    padding: 0;
    margin: 8px 0;
}

.h3-login{

    height: 8%;
    width: 70%;
    text-align: center;
    font-size: 16px;
    color: var(--cor-secundaria);
    font-weight: 400;
    margin: 6px 0;
    

}
.icon-footer {

    color: var(--cor-sucesso);
    font-size: 20px;
}
.p-login{
    font-size: 14px;
    color: var(--cor-secundaria);
    margin: 0;
    padding: 0;
}

.p-erro {
    height: 15%;
    width: 100%;
    border: 1px solid var(--cor-erro);
    background-color: rgb(248, 213, 213);
    border-radius: 3px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    color: var(--cor-erro);
    margin:  10px 0;
    padding: 0;
    display: flex;
}