.usuario-plataforma{

    grid-column: 9/11;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 26px;
    background-color: white;
    border-bottom: 1px solid rgb(199, 199, 199); 
}

.c-items-usuario-plataforma{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.h4-usuario-plataforma{

    font-size: 18px;
    color: var(--cor-primaria);
    margin: 0;
    padding: 0;
}
.p-usuario-plataforma{

    font-size: 14px;
    color: var(--cor-texto-primaria);
    margin: 0;
    padding: 0;
}
.icone-usuarios-plataforma{

        color:var(--cor-primaria);
    font-size: 18px;
    padding: 14px;
    background-color: var(--cor-texto-secundaria);
    border-radius: 6px;
}