.app-plataforma {

    background-color: var(--cor-primaria);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(18,1fr);
    font-family: 'Inter';
}


