:root {

    --cor-primaria:#273c75;
    --cor-secundaria:#8395a7;
    --cor-sucesso: #2ecc71;
    --cor-erro: #e74c3c;
    --cor-fundo: #bdc3c7;
    --cor-texto-primaria: #8395a7;
    --cor-texto-secundaria: #ecf0f1;
}