

.img-logo-plataforma{

    height: 32px;
    width: 30px;
}
.c-titulo-logo-plataforma{

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 4px;
}
.h5-logo-plataforma {

    color: white;
    font-size: 14px;
    font-weight: 500;
}
.h6-logo-plataforma{

      color: white;
    font-size: 10px;
    font-weight: 300;
}