
.container-titulo {

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 12px;
    border-right: 1px solid rgba(209, 209, 209, 0.534);

}
.container-titulo-resumo{

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 12px;

}
.container-logo {

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 12px;

}
.container-item {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    padding: 4px;
}
.container-icone {

    background-color: rgba(234, 237, 252, 0.849);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-usuario {
  
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;

}


.container-dica {
    height: 60%;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    padding:4px;
    background-color: var(--cor-fundo-card);
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
}
.container-icone-card{

    padding: 10px;
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
}
.container-etapa {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: 18%;
    border-right: 1px solid grey

}
.container-card-titulo {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    padding-left: 12px;
}
.container-card-main {

    background-color: transparent;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-icone-lancamento {
    width: 10%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-elementos {

    display: flex;
    width:97%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.container-resumo-item{

    display: flex;
    width: 100%;
    height: auto;
    padding: 0 12px;
    box-sizing: border-box;
    background-color: var(--cor-fundo-card);
    border-radius: 6px;
}
.container-resumo-icone {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
   
}
.container-resumo-texto {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
    flex: 1;
}
