

.c-icone-header-plataforma {

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 12px;

}
.c-titulo-header-plataforma {

    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-right: 1px solid rgba(209, 209, 209, 0.534);
    gap: 8px;

}
.h1-header-plataforma{
    font-size: 22px;
    color: var(--cor-primaria);
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.h3-header-plataforma{
    font-size: 14px;
    color: var(--cor-texto-primaria);
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.icone-header-plataforma {

    
    color:var(--cor-primaria);
    font-size: 22px;
    border-radius: 6px;
}