.container-navegation-item {

      display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    gap: 15px;
    cursor: pointer;
    transition: .3s all ease-in-out;
    border-radius: 12px 0 0 12px ;

}