.h1-plataforma {

    font-size: 28px;
    color: var(--cor-primaria);
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.h3-plataforma {

    font-size: 16px;
    color: var(--cor-texto-primaria);
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.h3-plataforma-resumo {
    font-size: 14px;
    color: var(--cor-texto-secundaria);
    font-weight: 300;
    padding: 0;
    margin: 0;
}


.h4-plataforma {
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-preto);
    margin: 0;
    padding: 0;
}
.h4-plataforma-resumo {

    font-size: 18px;
    color: var(--cor-terciaria);
}
.h5-plataforma {

      font-size: 14px;
    color: var(--cor-texto-secundaria);
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.h6-plataforma {

    font-size: 12px;
    color: var(--cor-texto-secundaria);
    font-weight: 300;
    padding: 0;
    margin: 0;
}
.h6-resumo {

    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    color: var(--cor-primaria);
}

.p-plataforma {

    color: var(--cor-primaria);
    font-size: 14px;
}
.p-etapa-lancamento {

    font-size: 12px;
    font-weight: 300;
    color: var(--cor-primaria);
    font-style: italic;
}
.p-dica-lancamento {
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-dica);
    font-style: italic;
}